#profileSection {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#imgContainer {
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  overflow: hidden;
}
.share{
  position: absolute;
  top: 0;
  right: 15rem;
}
@media only screen and (max-width: 768px) {
   .share{
    display:none;
   } 
  }
.shareMob{
  display: none;
}
@media only screen and (max-width: 768px) {
  .shareMob{
    display:block;
    position: absolute;
    top:0;
    right: 2rem;
  }  
  }
#profile-img {
  width: inherit;
  height: inherit;
}
#twitter {
  margin: 1rem 0;
  font-size: 1.5rem;
  font-weight: 700;
}
#slack {
  font-size: 1.5rem;
  font-weight: 400;
}
