.main{
 margin: 5rem;
}
.footer{
  margin-top: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (max-width: 768px) {
    .footer{
      display:block;
  }
  .footer img{
    margin: 1rem 0;
  }
}
.text{
  font-size: 1.5rem;
  color: #667085;
}